﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
    <h2>
        Explanation:
    </h2>

    <p>
        This project will be a Web-App that will be able to scan a QR code to query a database a return a JSON file. With the purpose of expand my knowledge of web development and begin to learn the .Net framework and In addition QR codes development.
    </p>
    <h3>
        Goals:
    </h3>
    <ul>
        <li>gain experience with .Net (in specific ASP.Net)</li>
        <li>gain experience with QR code development</li>
        <li>gain more experience with Databases</li>
        <li>Gain more experience with Git</li>
    </ul>

    <h3>
        Tools (to be expanded as needed):
    </h3>
    <ul>
        <li>IDE - Visual Studio</li>
        <li>Asp.net</li>
        <li>QR Code Encoder and Decoder .NET(Framework, Standard, Core) Class Library</li>
        <li>BitBucket</li>
        <li>SourceTree</li>
    </ul>

    <h3>
        Links:
    </h3>
    <ul>
        <li><a href="https://www.codeproject.com/Articles/1250071/QR-Code-Encoder-and-Decoder-NET-Framework-Standard">QR Code Libraries</a></li>
        <li><a href="https://dotnet.microsoft.com/apps/aspnet">ASP.Net</a></li>
        <li><a href="https://bitbucket.org/KaylandRemy/qr-code-webapp/src/master/">Git Repository</a></li>
    </ul>
</div>
